---
---
.index-hero {
  font-size: 6.5em;

  color: #222222;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.8em;
  margin: 0.8em auto;
  width: 5em;
}

.mission {
  font-size: 1.5em;
}
