---
---

@import 'variables';

.intro {
  margin-top: 2em;
  font-size: 20pt;
  text-align: justify;
  padding: 0 1em;
}

.people-toc {
  margin: 4rem 0;
  text-align: center;
  
  li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
  }
}

.type {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.people-boxes {
  margin-top: 3em;
  font-size: 0.8em;

  padding: 0;
  
  @media(min-width: $tablet) {
      padding: 0 2em;
  }
}

.people-boxes li {
  list-style-type: none;
  margin-bottom: 2rem;
}

.people-boxes .person {
  max-width: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  padding: 1rem;

  position: relative;
  //height: 20rem;
}

.people-boxes .header {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5em;
}

$photo_width: 8rem;
$photo_margin: 1rem;

.people-boxes .name {
    font-weight: bold;
    font-size: 1.5rem;

    @media(min-width: $tablet) {
	max-width: calc(100% - (#{$photo_width} + #{$photo_margin}));
    }

}

.people-boxes .site {
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.people-boxes .photo {
    width: 100%;
    margin-bottom: 1em;
    
    @media(min-width: $tablet) {
	position: absolute;
	top: 0;
	right: 0;
	margin: $photo_margin $photo_margin;
	width: $photo_width;
	border-style: solid;
	border-width: 2px;
    }
}

.people-boxes .role {
    font-style: italic;

    @media(min-width: $tablet) {
	max-width: calc(100% - (#{$photo_width} + #{$photo_margin}));
    }
}

.people-boxes .interests {
    @media(min-width: $tablet) {
	max-width: calc(100% - (#{$photo_width} + #{$photo_margin}));
    }
}

.people-boxes .projects {
  @media(min-width: $tablet) {
    width: calc((100% - (#{$photo_width} + #{$photo_margin})) / 2);;
    display: inline-block;
    vertical-align: top;
  }
}

.people-boxes .publications {
  @media(min-width: $tablet) {
    width: calc((100% - (#{$photo_width} + #{$photo_margin})) / 2);;
    display: inline-block;
    vertical-align: top;
  }
}

