---
---

@import 'variables';

.intro {
  margin: 2em;
  font-size: 20pt;
  text-align: justify;
}

.people a.internal {
    font-weight: bold;
}

.project {
    margin-top: 4em;

    h3 {
        display: inline;
    }
    .name-site {
        font-size: 0.8rem;
        display: inline;
    }

    .tags {
        margin-top: 0.4rem;
        margin-bottom: 0.8rem;
        margin-left: 2rem;
        font-weight: bold;
    }

    ul .header {
        font-weight: bold;
        font-size: 1.2rem;
    }
}



#tags-toc {
  margin: 4rem 0;
  text-align: center;
  line-height: 2.2em;
  
  li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
  }
}

#selectedTag {
  margin: 4rem 0;
  text-align: center;
  line-height: 2.2em;
  font-size: 1.5em;
  font-weight: bold;
}