---
---

@import 'variables';
@import 'filter_tags';

.publications {
}

.publication {
    margin-top: 1em;
    line-height: 1.5em;
    .title {
        display: inline;
        font-weight: bold;
    }

    .link {
        display: inline;
    }

    .showAbstract {
        display: inline;
    }

    .hidden {
	display: none;
    }

    .shown {
	display: block;
    }

    .booktitle {
	font-style: italic;
    }
}