---
---

@import 'variables';

.intro {
  margin: 2em;
  font-size: 20pt;
  text-align: justify;
}

.publications {
    margin-top: 4em;
}

.publication {
    margin-top: 1em;
    .title {
        display: inline;
        font-weight: bold;
    }

    .link {
        display: inline;
    }

    .showAbstract {
        display: inline;
    }

    .hidden {
	display: none;
    }

    .shown {
	display: block;
    }
}