---
---
@import "vendor/breakpoint";
@import "vendor/breakpoint-slicer";

//                       0    400   600   800   1050
$slicer-breakpoint-names: 'xs'   's'   'm'   'l'    'xl';

$s-sidebar-width: 100%;
$m-sidebar-width: 13rem;
$l-sidebar-width: 17rem;
$side-pad-left: 1rem;

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;

  @include from('s') {
    background-color: orange;
  }
  @include from('m') {
    background-color: yellow;
  }
  @include from('l') {
    font-size: 16px;
    background-color: green;
  }
  @include from('xl') {
    font-size: 20px;
    background-color: blue;
  }
}

body {
  margin: 0;
}

.sidebar {
  background-color: #aa759f;
  color: rgba(255,255,255,.5);
  padding: 2em $side-pad-left;

  @include to('m') {
     text-align: center;
    width: calc(#{$s-sidebar-width} - 2*#{$side-pad-left});
  }
  @include from('m') {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    text-align: left;

    width: calc(#{$m-sidebar-width} - 2*#{$side-pad-left});
  }
  @include from('l') {
    width: calc(#{$l-sidebar-width} - 2*#{$side-pad-left});
  }



  a { color: #fff; }
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.15;

  

  @include to('s') {
    font-size: 1.5rem;
  }
  @include from('s') {
    font-size: 2.5rem;
  }
  @include from('m') {
    font-size: 3.0rem;
  }
  @include from('l') {
    font-size: 3.5rem;
  }
}

.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: block;
  line-height: 1.75;

  .active {
    font-weight: bold;
  }
}

a.sidebar-nav-item {
  hover, focus {
    text-decoration: underline;
  }
}


@include from('l') {
  .sidebar-top {
    //position: absolute;
    right:  1rem;
    top:    1.2rem;
    left:   1rem;
  }
}

@include from('l') {
  .sidebar-bottom {
    //position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

.content {
  @include   to('m') { margin-left: 0; }
  @include from('m') { margin-left: #{$m-sidebar-width}; }
  @include from('l') { margin-left: #{$l-sidebar-width}; }
}

.banner {
  background-color: #dfdfdf;

  padding: 4rem 10% 4rem 10%;
}

.mission-statement {
  //color: black;
  text-align: center;
}

.sidebar {
}
.content a,
.related-posts li a:hover {
  color: #aa759f;
}

//@import "theme";
//@import "index";
