---
---
@import "vendor/breakpoint";
@import "vendor/breakpoint-slicer";

$slicer-breakpoint-names: 'xs' 's' 'm' 'l' 'xl';

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

// 48em -  768 - 4
// 58em -  928 - 5
// 64em - 1024 - 5

@include from('m') {
  html {
    background-color: yellow;
  }
}
@include from('l') {
  html {
    font-size: 16px;
    background-color: green;
  }
}
@include from('xl') {
  html {
    font-size: 20px;
    background-color: blue;
  }
}

.outer {
}

.sidebar {
  top: 0;
  left: 0;
  background-color: #202020;
  color: rgba(255,255,255,.5);
  width: 100%;

  @include to('l') {
    position: fixed;
    text-align: center;
    padding: 2rem 1rem;
  }
  @include from('l') {
    position: fixed;
    height: 100%;
    width: 18rem;
    text-align: left;
  }

  a {
    color: #fff;
  }

}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.15;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: block;
  line-height: 1.75;

  .active {
    font-weight: bold;
  }
}

a.sidebar-nav-item {
  hover, focus {
    text-decoration: underline;
  }
}


@include from('l') {
  .sidebar-top {
    //position: absolute;
    right:  1rem;
    top:    1.2rem;
    left:   1rem;
  }
}

@include from('l') {
  .sidebar-bottom {
    //position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;

  @include from('l') {
    margin-left: 20rem;
    margin-right: 2rem;
  }

  @include from('xl') {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.banner {
  height: 20em;
  background-color: #dfdfdf;
}

.mission-statement {
  //color: black;
  text-align: center;
}

@import "theme";
//@import "index";
