---
title: People
subnav: people
permalink: /people/
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}css/people.css">

<div class="intro">{{ site.data.data.people.intro }}</div>

<ul class="toc people-toc">
{% for type in site.data.data.people.people_cards %}
  <li><a href="#{{ type.anchor }}">{{ type.type }}</a></li>
{% endfor %}
</ul>

{% for type in site.data.data.people.people_cards %}
  <a class="anchor" name="{{ type.anchor }}"></a>
  <h2 class="type">{{ type.type }}</h2>

<ul class="people-boxes">
  {% for person in type.people %}
    {% if person.anchor %}
      <a class="anchor" name="{{ person.anchor }}"></a>
    {% else %}
      <a class="anchor" name="{{ person.name | downcase | replace: ' ', '_' }}"></a>
    {% endif %}
    <li>
      <div class="person">
        <img class="photo" src="{{ person.photo }}" />

        <div class="name">
	  {{ person.name }}

	</div>
        <div class="role">
	  {{ person.role }}

	  {% if person.site %}
          &nbsp;&nbsp;-<span class="site"> <a href="{{ person.site }}">website</a> </span>
	  {% endif %}
	</div>

        <div class="interests">
          <span class="header">Research Interests</span>
          {{ person.interests }}
        </div>

        {% assign pubLinks = '' | split:':' %}
        {% for project in site.data.data.projects.projects%}
            {% for proj_person in project.people %}
                {% if proj_person.name == person.name %}
                  {% capture pubLink %}
                  {% if project.anchor %}
                    {% if project.status.tag == "retired" %}
                      <a href="retired-projects#{{ project.anchor }}">
                    {% else %}
                      <a href="projects#{{ project.anchor }}">
                    {% endif %}
                  {% endif %}
                    {{ project.name}}
                    {% if project.anchor %}
                      </a>
                    {% endif %}
                  {% endcapture %}
                {% assign pubLinks = pubLinks | push: pubLink %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="projects">
            {% if pubLinks != empty %}
              <span class="header">Projects</span>
              {{ pubLinks | array_to_sentence_string }}
            {% endif %}
        </div>

        {% if person.publications %}
          <div class="publications">
            <span class="header">Publications</span>
            {% assign pubLinks = '' | split:':' %}
            {% for publication in person.publications %}
            {% capture pubLink %}{% if publication.link %}<a href="{{ publication.link }}">{% endif %}{{ publication.name }}{% if publication.link %}</a>{% endif %}{% endcapture %}
              {% assign pubLinks = pubLinks | push: pubLink %}
            {% endfor %}
  	  
  	  
            {{ pubLinks | array_to_sentence_string }}
          </div>
	{% endif %}
        {% if person.deployments %}
        <div class="deployments">
          <span class="header">Software/System Deployments</span>
          {{ person.deployments }}
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
    </ul>
{% endfor %}


<div class="people-box">
</div>
