---
title: People
layout: default
---

<link rel="stylesheet" href="/css/people.css">

<ul class="people-boxes">
{% for person in site.data.people %}
  <li class="person">
    <div class="name"> {{ person.name }} </div>
    <img class="photo" src="{{ person.photo }}" />
    <div class="interests">
      <span class="header">Research Interests</span>
      {{ person.interests }}
    </div>
    <div class="projects">
      <span class="header">Lab Projects</span>
      {{ person.projects }}
    </div>
    <div class="publications">
      <span class="header">Publications</span>
      {% assign pubLinks = '' | split:':' %}
      {% for publication in person.publications %}
        {% capture pubLink %} <a href="{{ publication.link }}">{{ publication.name }}</a> {% endcapture %}
        {% assign pubLinks = pubLinks | push: pubLink %}
      {% endfor %}


      {{ pubLinks | array_to_sentence_string }}
    </div>
    <div class="deployments">
      <span class="header">Software/System Deployments</span>
      {{ person.deployments }}
    </div>
  </li>
{% endfor %}
</ul>

<div class="people-box">
</div>
