---
title: Press
subnav: press
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}css/press.css"></link>

<div class="intro">{{ site.data.press.intro }}</div>

<ul class="toc" id="tags-toc"></ul>

<div class="presses">

{% for press in site.data.press.presses %}
  <div class="press-block">
    <a name="{{ press.anchor }}"></a>

    <span class="title">"{{ press.title }}"</span>
    {% if press.project %}
      <span class="project">
        (Coverage of <a href="{{ press.project.link }}">{{ press.project.name }}</a>)
      </span>
    {% endif %}
    {% if press.link %}
      {% if press.type %}
        <div class="link">
          <a href="{{ press.link }}">{{ press.type }}</a>
        </div>
      {% endif %}
    {% endif %}
    <div class="small-info">
      <span class="source"> {{ press.source }}</span>,
      <span class="date"> {{ press.date }} </span>.
    </div>
  </div>
{% endfor %}
</div>

<div id="action-flash" class="fade-out"></div>

<script src="{{ site.baseurl }}js/press_tags.js"></script>
