---
title: Press
subnav: press
permalink: /press/
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}css/press.css"></link>

<div class="intro">{{ site.data.data.press.intro }}</div>

<ul class="toc" id="tags-toc"></ul>

<div class="presses">

{% for press in site.data.data.press.presses %}
  <div class="press-block">
    <a name="{{ press.anchor }}"></a>

    <span class="title">"{{ press.title }}"</span>
    {% if press.projects %}
      {% assign pressProjects = '' | split:':' %}
      {% for project in press.projects %}
        {% capture projectLink %}{% if project.anchor %}{% if project.status.tag == "retired" %}<a href="retired-projects#{{ project.anchor }}">{% else %}<a href="projects#{{ project.anchor }}">{% endif %}{{ project.name }}</a>{% endif %}{% endcapture %}
        {% assign pressProjects = pressProjects | push: projectLink %}
      {% endfor %}
      <span class="project">
        (Coverage of {{ pressProjects | array_to_sentence_string }})
      </span>
    {% endif %}
    {% if press.link %}
      {% if press.type %}
        <div class="link">
          <a href="{{ press.link }}">{{ press.type }}</a>
        </div>
      {% endif %}
    {% endif %}
    <div class="small-info">
      <span class="source"> {{ press.source }}</span>,
      <span class="date"> {{ press.date }}</span>.
    </div>
  </div>
{% endfor %}
</div>

<div id="action-flash" class="fade-out"></div>

<script src="{{ site.baseurl }}js/press_tags.js"></script>
