---
title: Projects
subnav: projects
permalink: /projects/
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}css/projects.css"></link>

<div class="intro">{{ site.data.data.projects.intro }}</div>

<ul class="toc" id="tags-toc"></ul>

<div class="projects">
  {% for project in site.data.data.projects.project_cards %}
    {% if project.status %}
    <!-- FIXME: do we ever not have project status associated? -->
      {% if project.status.tag == "retired" %}
        {% continue %}
      {% endif %}
    {% endif %}
  <div class="project">
    <a class="anchor" name="{{ project.anchor }}"></a>

    <div class="title-bar">
       <h3><a href="#{{ project.anchor }}"> {{ project.name | size_upcase }} </a></h3>
         <div class="link-list">
           <div class="press-link">
             {% capture press_projects %}{{ site.data.data.press.presses | map: 'project' | map: 'anchor' }}{% endcapture %}
             {% if press_projects contains project.anchor %}
               <a href="/press?filter={{ project.anchor }}">(press)</a>
             {% endif %}
	   </div>
           <div class="pubs-link">
             {% capture pub_projects %}{{ site.data.data.publications.publications | map: 'project' | map: 'anchor' }}{% endcapture %}
             {% if pub_projects contains project.anchor %}
               <a href="/publications?filter={{ project.anchor }}">(publications)</a>
             {% endif %}
	   </div>
           <div class="web-link">
             {% if project.site %}
               <a href="{{ project.site }}">(website)</a>
             {% endif %}
           </div>
	 </div>
       {% if project.status %}
         <span class="status tooltip-wrapper"> {{ project.status.name }}
           <div class="tooltip"> {{ project.status.description }} </div>
         </span>
       {% endif %}
    </div>
    {% if project.tags %}
      <div class="tags">
        {{ project.tags | map: 'name' | array_to_sentence_string }}
      </div>
    {% endif %}

    {% if project.image %}
    <img class="image" src="{{ project.image }}"></img>
    {% endif %}

    <div class="description">
      {% for desc in project.description %}
      <p>
        {{ desc }}
      </p>
      {% endfor %}
    </div>

       {% if project.products %}
           <h5 class="header">Products</h5>
           <p class="products">{{ project.products }}</p>
       {% endif %}

       {% if project.people %}
          <div class="people">
             <h5 class="header">People</h5>
             {% assign personLinks = '' | split:':' %}
             {% for person in project.people %}
             {% if person == nil %}
                 {% capture personLink %}<span style="color: red;">NAME MISSING</span>{% endcapture %}
             {% else %}
                 {% assign defaultLink = "people#" | append: person.anchor %}
                 {% capture personLink %}{% if person.link or person.anchor %}<a class={% if
             person.internal %}"internal"{% else %}"external"{% endif %} href="{{ person.link | default: defaultLink}}">{% endif %}{{ person.name }}{% if person.link %}</a>{% endif %}{% endcapture %}
             {% endif %}
               {% assign personLinks = personLinks | push: personLink %}
             {% endfor %}

             {{ personLinks | array_to_sentence_string }}
          </div>
       {% endif %}
  </div>
  {% endfor %}
  <div class="project">
    <p>
      During its tenure, the Secure Systems Laboratory has developed, nurtured, and deployed a number of technologies,
      which have been sunsetted. These projects addressed password protection, secure experimental testbeds, the
      factors that influence developer perceptions, as well as a vehicle to securely share (and acquire) donated computing
      resources from desktops, laptops, or smartphones that in some ways anticipated the growth of cloud computing. Though
      these technologies are no longer being actively developed, the resources generated by these projects can still
      largely be accessed. You can learn more about these retired technologies by clicking <a
        href="retired-projects">here</a>.
    </p>
  </div>
</div>

<div id="action-flash" class="fade-out"></div>

<script src="{{ site.baseurl }}js/project_tags.js"></script>
