---
title: Projects
subnav: projects
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}css/projects.css"></link>

<div class="intro">{{ site.data.projects.intro }}</div>

<ul id="tags-toc">
</ul>

<div id="selectedTag"></div>

{% for project in site.data.projects.projects %}
<div class="project">
  <a name="{{ project.anchor }}"></a>
  
  <h3> {{ project.name }} </h3>
  
  <div class="description"><p>
    {{ project.description }}
  </p></div>

  <img src="{{ project.image }}"></img>

  <ul>
     {% if project.site %}
       <li>
         <span class="header">Site: </span>
         <a href="{{ project.site }}">{{ project.site }}</a>
       </li>
     {% endif %}
     {% if project.products %}
       <li>
         <span class="header">Products: </span>
         <span class="products">{{ project.products }}</span>
       </li>
     {% endif %}

     {% if project.people %}
        <li><div class="people">
           <span class="header">People: </span>
           {% assign personLinks = '' | split:':' %}
           {% for person in project.people %}
	     {% if person == nil %}
               {% capture personLink %}<span style="color: red;">NAME MISSING</span>{% endcapture %}
	     {% else %}
               {% capture personLink %}{% if person.link %}<a class={% if person.internal %}"internal"{% else %}"external"{% endif %} href="{{ person.link }}">{% endif %}{{ person.name }}{% if person.link %}</a>{% endif %}{% endcapture %}
	     {% endif %}
             {% assign personLinks = personLinks | push: personLink %}
           {% endfor %}
        
           {{ personLinks | array_to_sentence_string }}
        </div></li>
     {% endif %}
     {% if project.tags %}
       <li>
         <span class="header">Tags: </span>
         {{ project.tags | array_to_sentence_string }}
       </li>
     {% endif %}
  </ul>
</div>
{% endfor %}

<script src="{{ site.baseurl }}js/project_tags.js"></script>
