<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} | Tyler Benziger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" href="{{ site.avatar }}">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/css/desktop.css" media="(min-width:40em)">
  <link rel="stylesheet" href="/css/pygments.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,500,300italic,500italic|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <script type="text/javascript" charset="utf-8" src="/js/matchmedia.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/picturefill.js"></script>
</head>
