<header>
    <div class="container">
        <div class="profile">
            <div class="avatar" data-picture data-alt="avatar">
                <div data-src="{% include avatar_url %}?s=54"></div>
                <div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <noscript><img src="{% include avatar_url %}?s=54" alt="avatar"></noscript>
            </div>
        </div>
        <h5 class="logo"><a href="/">Tyler Benziger</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "blog" %}
                    <li><a href="/" class="active">Blog</a></li>
                {% else %}
                    <li><a href="/">Blog</a></li>
                {% endif %}
                {% if page.nav == "about" %}
                <li><a href="/about" class="active">About</a></li>
                {% else %}
                <li><a href="/about">About</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="/projects">Projects</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "exemplar-home" %}
                  <li><a href="/exemplar" class="active" data-subnav="exemplar-home">Home</a></li>
                {% else %}
                    <li><a href="/exemplar" data-subnav="exemplar-home">Home</a></li>
                {% endif %}
                {% if page.subnav == "exemplar-docs" %}
                    <li><a href="/exemplar/docs" class="active" data-subnav="exemplar-docs">Docs</a></li>
                {% else %}
                    <li><a href="/exemplar/docs" data-subnav="exemplar-docs">Docs</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
