<!doctype html>
<html>
{% include head.html %}
<body>
<div class="wrapper">
    {% include header.html %}

    <section id="main">
        <article class="container">
          {% if page.title %}
            <h1 class="hero">{{page.title}}</h1>
          {% endif %}
          <span style="font-size: 0.8em; font-style: italic;">{{ page.date | date: "%Y-%m-%d" }} &middot; Posted by: {{ page.author }} &middot; Categories: {{ page.categories}} &middot; <a href="{{ site.url }}{{ page.url }}#disqus_thread">Comments</a></span><br/>

          {{ content }}
        </article>
    </section>

    {% include footer.html %}

    <aside class="container">
      {% if page.comments == true %}{% include comments.html %}{% endif %}
    </aside>
</body>
{% include scripts.html %}
<script id="dsq-count-scr" src="//securesystemslab.disqus.com/count.js" async></script>
</html>

