name: Test yaml

on:
  push:
    branches: ['master']
  pull_request:
  workflow_dispatch:

jobs:
  test-yaml:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Test yaml
      run: |
        _test/test_yaml.py
